@import 'utils/globals';
@import 'utils/mixins';

// Variables
//------------------------------------------------------



// Exports
//------------------------------------------------------

@include exports("helpers") {

    // Removing scroll
    .no-scroll {
        overflow: hidden;
        height: 100%;
    }

    // Showing only on screenreaders
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .align-left {
        float: left;
    }

    .align-right {
        float: right;
    }

}
