@import 'utils/globals';
@import 'utils/mixins';

// Variables
//------------------------------------------------------



// Exports
//------------------------------------------------------

@include exports("typography") {


    // Headlines
    h1, h2, h3, h4, h5, h6 {
        font-family: "Helvetica Neue", sans-serif;
        // font-family: "neuzeit-grotesk",sans-serif;
        // font-family: "effra",sans-serif;
        // font-family: "proxima-nova",sans-serif;
        font-weight: 400;
    }

    h1 {
    	font-size: 4.25rem; /* 68px */
    	line-height: 1.1471em;
    	margin: 0 0 0.3824rem;
        letter-spacing: -1px;
    }

    h2 {
    	font-size: 2.625rem; /* 42px */
    	line-height: 1.2381em;
    	margin: 0 0 0.619rem;
    }

    h3 {
    	font-size: 1.625rem; /* 26px */
    	line-height: 1em;
    	margin: 0 0 1rem;
    }

    h4 {

    }

    h5 {

    }

    h6 {

    }


    // Content elements
    p {

    }

    a {
        color: $blue;
        text-decoration: none;
        @include subtle-transition;

        &:hover {
            color: $blue-dark;
        }
    }

    ul, li {

    }

    code {

    }

    small {

    }



}
