%nav.jk-wrapper.jk-navbar
  .jk-logo-wrapper
    %a.jk-logo-main{:href => "/"}
      %h1 {{ site.title }}
  %button#menuTriggerButton.jk-button.jk-nav-trigger
    %span
  %ul.jk-nav.jk-nav-inline
    %li.jk-nav-item
      %a.jk-nav-link{href: '#'} Link 1
    %li.jk-nav-item
      %a.jk-nav-link{href: '#'} Link 1
    %li.jk-nav-item
      %a.jk-nav-link{href: '#'} Link 1
