%svg{style: "display: none;", xmlns: "http://www.w3.org/2000/svg"}

  %symbol#blog-logo{"aria-label" => "Apple Logo", preserveaspectratio:  "xMidYMid meet", role: "img", viewbox: "0 0 60 60"}
    %path.cls-1{d: "M28 0q2 0 4.3 0t4.4.3a33.7 33.7 0 0 1 4 .6A10.4 10.4 0 0 1 44 2 15.7 15.7 0 0 1 49 7a13.6 13.6 0 0 1 2 7.7A14.6 14.6 0 0 1 49 23a13.6 13.6 0 0 1-6.6 5.2 13.8 13.8 0 0 1 8.5 5 15 15 0 0 1 3 9.6 18 18 0 0 1-1.3 6.3 16 16 0 0 1-3.4 5.7 17.4 17.4 0 0 1-5.7 3.8 19.6 19.6 0 0 1-8 1.5h-29V0zm2.3 25.8q6.8 0 9.8-2.4t3-7.2a10.6 10.6 0 0 0-1-5 7.2 7.2 0 0 0-2.6-2.8 11 11 0 0 0-4-1.4 39.3 39.3 0 0 0-5-.3h-16v19zm4 27.5q5.3 0 8.3-3a10.4 10.4 0 0 0 3-7.8 9.8 9.8 0 0 0-1-4.8 8.5 8.5 0 0 0-3-3 12 12 0 0 0-4-1.7 25.3 25.3 0 0 0-5-.5H14.4v20.8z"}
