// Global Mixins
//------------------------------------------------------

// We use this to loading scss files
@mixin exports($name) {
  @if index($modules, $name) {
  } @else {
    $modules: append($modules, $name) !global;
    @content;
  }
}


// We use this for button theming
@mixin btn-theme($btn-color) {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-image: none;
    vertical-align: middle;
    touch-action: manipulation;
    border-radius: 3px;
    border: 1px solid transparent;
    border-color: $btn-color;
    background-color: $btn-color;

    &:hover,
    &:focus,
    &:active {
        border-color: darken($btn-color, 10%);
        background-color: darken($btn-color, 10%);
    }
}

// Clearfix

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


// Ellipsis
@mixin ellipsis($width: 100%) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// 6. Mixins for media queries

@mixin mobile-only {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin mobile-up {
    @media (min-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin small-tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$mid-tablet-width}) {
        @content;
    }
}

@mixin big-tablet {
    @media (min-width: #{$mid-tablet-width}) and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin small-tablet-up {
    @media (min-width: #{$mid-tablet-width}) {
        @content;
    }
}

@mixin big-tablet-up {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}


// Transitions

@mixin subtle-transition {
    transition: all 0.2s ease-in-out;
}
