!!!
%html
  %head
    {% haml shared/head.haml %}
    {% haml custom/head.haml %}

  %body
    {% haml shared/symbols.haml %}

    #overflowWrapper.jk-over-wrapper

      {% haml shared/header.haml %}

      {{ content }}

      {% haml shared/footer.haml %}
      {% haml shared/footer-scripts.haml %}
      {% haml custom/footer.haml %}
